<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nsdeveloper.musific">


    <uses-sdk tools:overrideLibrary="de.Maxr1998.trackselectorlib" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />


    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <supports-screens android:anyDensity="true" />


    <application
        android:name="com.nsdeveloper.musific.TimberApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeBlack"
        tools:replace="android:allowBackup">

        <!--<meta-data-->
            <!--android:name="android.support.VERSION"-->
            <!--android:value="26.0.0-alpha1" />-->

        <meta-data
            tools:replace="android:value"
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.nsdeveloper.musific.activities.MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|mcc|mnc"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.CATEGORY_APP_MUSIC" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter android:priority="-1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nsdeveloper.musific.activities.SettingsActivity"
            android:theme="@style/AppThemeNormalLight" />

        <activity
            android:name="com.nsdeveloper.musific.activities.PlaylistDetailActivity"
            android:theme="@style/AppTheme.FullScreen.Light" />

        <activity
            android:name="com.nsdeveloper.musific.activities.SearchActivity"
            android:theme="@style/AppThemeNormalLight" />

        <activity
            android:name="com.nsdeveloper.musific.activities.NowPlayingActivity"
            android:theme="@style/AppTheme.FullScreen.Light" />

        <activity
            android:name=".cast.ExpandedControlsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ExpandedCastController"
            android:screenOrientation="portrait">

        </activity>


        <receiver android:name="com.nsdeveloper.musific.helpers.MediaButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
        <!-- Music service -->
        <service
            android:name="com.nsdeveloper.musific.MusicService"
            android:label="@string/app_name"
            android:process=":main" />

        <service
            android:name="com.nsdeveloper.musific.WearBrowserService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>



        <meta-data
            android:name=
                "com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.nsdeveloper.musific.cast.CastOptionsProvider" />


        <receiver android:name="com.nsdeveloper.musific.widgets.desktop.StandardWidget" android:label="@string/widget_standard">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.naman14.timber.metachanged" />
                <action android:name="com.naman14.timber.playstatechanged" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_standard" />
        </receiver>

        <receiver android:name="com.nsdeveloper.musific.widgets.desktop.WhiteWidget" android:label="@string/widget_white">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.naman14.timber.metachanged" />
                <action android:name="com.naman14.timber.playstatechanged" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_white" />
        </receiver>

        <receiver android:name="com.nsdeveloper.musific.widgets.desktop.SmallWidget" android:label="@string/widget_small">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.naman14.timber.metachanged" />
                <action android:name="com.naman14.timber.playstatechanged" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_small" />
        </receiver>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />






        <activity
            android:name="com.nsdeveloper.musific.sleeptimer.MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name="com.nsdeveloper.musific.sleeptimer.CountdownActivity"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:theme="@style/AppTheme.FullScreen.Light"
            android:name="com.nsdeveloper.musific.sleeptimer.SetTimerActivity"
            android:label="@string/app_name"
            >
        </activity>

        <receiver android:name="com.nsdeveloper.musific.sleeptimer.PauseMusicReceiver" />

        <!-- The service will run in its own private process -->
        <service android:name=".sleeptimer.PauseMusicService" android:exported="false" android:process=":SleepTimerService"/>




        <!-- Main activity that's launched when the user opens Ringdroid. -->
        <activity android:name="com.nsdeveloper.musific.ringdroidcutter.RingdroidSelectActivity"
            android:label="@string/main_activity_label"
            >


            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="audio/*" />
            </intent-filter>

        </activity>

        <!-- Activity for actually editing a particular audio file.
                 Controls viewing the waveform, setting the start and end
                 positions, playback, and triggering saving of the output
                 file. -->
        <activity android:name="com.nsdeveloper.musific.ringdroidcutter.RingdroidEditActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label=""
            android:windowSoftInputMode="adjustResize"
            android:hardwareAccelerated="true">
            <intent-filter android:label="@string/edit_intent">
                <action android:name="android.intent.action.EDIT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>



        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true">
        </meta-data>








    </application>

</manifest>
